<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{restaurantForm.html}">
<head>
<title>QUẢN LÝ VOUCHER</title>
</head>

<body>
    <section layout:fragment="body">
        <main>
            <div class="container box-main">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#management-voucher" role="tab"
                            aria-controls="management-voucher" aria-selected="true">Quản lý voucher</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#list-voucher" role="tab"
                            aria-controls="list-voucher" aria-selected="false">Danh sách voucher</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="management-voucher" role="tabpanel" aria-labelledby="home-tab">
                        <form th:action="@{/tfive/admin/voucher/saveOrUpdate}" method="post" class="card container form-management"
                            enctype="multipart/form-data" th:object="${voucher}">
                            <div class="row">
                                <div class="box-l col-sm-7">

                                    <input type="hidden" th:field="*{isEdit}" name="isEdit" >
                                    <label for="voucherID">Mã voucher </label>
                                    <input type="text" readonly th:field="*{voucherID}" id="voucherID" class="form-control" name="voucherID">

                                    <label for="reducedPrice">Voucher giảm</label>
                                    <input type="number" th:field="*{reducedPrice}" id="reducedPrice" class="form-control" name="price" >
                                    <label for="minimumPrice">Giá tối thiểu</label>
                                    <input type="number" th:field="*{minimumPrice}" id="minimumPrice" class="form-control" name="price" >

                                    <input type="radio" th:field="*{isShare}" value="true" name="isShare" id="public">
                                    <label for="public">Công khai</label>
                                    <input type="radio"  th:field="*{isShare}" value="false" name="isShare" id="private">
                                    <label for="private">Không công khai</label><br>

                                    <label>Loại voucher</label> <br>
                                    <input type="radio" th:field="*{voucherType}" value="true" name="voucherType" id="dish-voucher">
                                    <label for="dish-voucher">Món</label>
                                    <input type="radio" th:field="*{voucherType}" value="false" name="voucherType" id="delivery-voucher">
                                    <label for="delivery-voucher">Vận chuyển</label>


                                    <label for="description"  class="w-100">Mô tả của voucher
                                    </label>
                                    <textarea th:field="*{description}" class="w-100" id="description" rows="4" name="description"
                                        ></textarea>
                                </div>
    
                            </div>
                            <div class="box-btn">

                                <button class="btn btn-info" th:text="${voucher.isEdit? 'Update' : 'Save'}">Save</button>
                                <a><button th:if="${voucher.isEdit==false}" type="reset" class="btn btn-primary" >Reset</button></a>
                                <a th:if="${voucher.isEdit==true}" type="button" class="btn btn-primary" th:href="@{/tfive/admin/voucher/view}">Reset</a>
                                <a style="background-color:#ED1D24" th:if="${voucher.isEdit==true}" type="button" class="btn btn-primary" th:href="@{'/tfive/admin/voucher/delete/' + ${voucher.voucherID}}">Delete</a>

                            </div>
                        </form>
                    </div>
    
                    <div class="tab-pane fade" id="list-voucher" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table tbl-cart">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Mã voucher</th>
                                    <th scope="col">Voucher giảm</th>
                                    <th scope="col">Giá tối thiểu</th>
                                    <th scope="col">Chia sẻ</th>
                                    <th scope="col">Loại voucher</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${vouchers}">
                                    <td scope="row" th:text="${item.voucherID}"></td>
                                    <td scope="row" th:text="${item.reducedPrice}"></td>
                                    <td th:text="${item.minimumPrice}"></td>
                                    <td th:text="${item.isShare ? 'Công khai' : 'Không công khai'}"></td>
                                    <td th:text="${item.voucherType ? 'Món' : 'Vận chuyển'}"></td>
                                    <td><a class="edit" th:href="@{'/tfive/admin/voucher/edit/' + ${item.voucherID}}">Edit</a>
                                        | <a th:href="@{'/tfive/admin/voucher/delete/' + ${item.voucherID}}">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
    
        </main>
        
    </section>

</body>

</html>