<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/head :: head}">
    <title>Login</title>
</head>
<body th:attr="data-bs-theme=${theme}">
<!--<div th:replace="~{fragments/header :: header_body}"></div>-->
<!--<div class="wrapper">
    <div class="content">
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="alert alert-info alert-dismissible fade show" th:if="${message != null}" role="alert">
                    <span th:text="${message}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2 ">
                        <h1 class="pb-3">My Restaurant</h1>
                        <img th:src="@{img/carousel/pancake-1.jpg}" alt="" style="width: 100%; border-radius: 10px ; box-shadow: 15px -15px 15px 5px rgba(0,0,0,0.5);
-webkit-box-shadow: 15px -15px 15px 5px rgba(0,0,0,0.5);
-moz-box-shadow: 15px -15px 15px 5px rgba(0,0,0,0.5);">
                    </div>
                    <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                        <div class="mb-lg-9 mb-2">
                            <h1 class="mb-1 h2 fw-bold">Sign in</h1>
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Invalid Email or Password</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-success"> You have been logged out.</div>
                        </div>
                        <form th:action="@{/login}" th:method="post" action="#">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="username" class="invisible">Email address</label>
                                    <input type="text" name="username" id="username" class="form-control"
                                           placeholder="Enter email"/>
                                </div>
                                <div class="col-12">
                                    <label for="password" class="invisible"> Password: </label>
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="password"/>
                                </div>
                                <div class="d-flex just-content-between">
                                    <span>Forgot Password ?</span>
                                    <a th:href="@{/user/reset-password}">Reset</a>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" class="btn btn-dark">Sign In</button>
                                </div>
                                <div>
                                    <span>Don't have an account?</span>
                                    <a th:href="@{/registration}">Register/Signup here</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>-->
<div th:replace="~{fragments/preloader :: preloader_body}"></div>
<main class="main__content_wrapper">
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul
                                class="breadcrumb__content--menu d-flex justify-content-center"
                        >
                            <li class="breadcrumb__content--menu__items">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb__content--menu__items">
                                <span>Account</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="login__section section--padding">
        <div class="container">
            <form action="#">
                <div class="login__section--inner">
                    <div class="row row-cols-md-2 row-cols-1">
                        <div class="col">
                            <div class="account__login">
                                <div class="account__login--header mb-25">
                                    <h2 class="account__login--header__title mb-10">Login</h2>
                                    <p class="account__login--header__desc">
                                        Login if you area a returning customer.
                                    </p>
                                </div>
                                <div class="account__login--inner">
                                    <label>
                                        <input
                                                class="account__login--input"
                                                placeholder="Email Addres"
                                                type="email"
                                        />
                                    </label>
                                    <label>
                                        <input
                                                class="account__login--input"
                                                placeholder="Password"
                                                type="password"
                                        />
                                    </label>
                                    <div
                                            class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center"
                                    >
                                        <div
                                                class="account__login--remember position__relative"
                                        >
                                            <input
                                                    class="checkout__checkbox--input"
                                                    id="check1"
                                                    type="checkbox"
                                            />
                                            <span class="checkout__checkbox--checkmark"></span>
                                            <label
                                                    class="checkout__checkbox--label login__remember--label"
                                                    for="check1"
                                            >
                                                Remember me</label
                                            >
                                        </div>
                                        <button class="account__login--forgot" type="submit">
                                            Forgot Your Password?
                                        </button>
                                    </div>
                                    <button
                                            class="account__login--btn primary__btn"
                                            type="submit"
                                    >
                                        Login
                                    </button>
                                    <div class="account__login--divide">
                                        <span class="account__login--divide__text">OR</span>
                                    </div>
                                    <div
                                            class="account__social d-flex justify-content-center mb-15"
                                    >
                                        <a
                                                class="account__social--link facebook"
                                                target="_blank"
                                                href="https://www.facebook.com"
                                        >Facebook</a
                                        >
                                        <a
                                                class="account__social--link google"
                                                target="_blank"
                                                href="https://www.google.com"
                                        >Google</a
                                        >
                                        <a
                                                class="account__social--link twitter"
                                                target="_blank"
                                                href="https://twitter.com"
                                        >Twitter</a
                                        >
                                    </div>
                                    <p class="account__login--signup__text">
                                        Don,t Have an Account?
                                        <button type="submit">Sign up now</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="account__login register">
                                <div class="account__login--header mb-25">
                                    <h2 class="account__login--header__title mb-10">
                                        Create an Account
                                    </h2>
                                    <p class="account__login--header__desc">
                                        Register here if you are a new customer
                                    </p>
                                </div>
                                <div class="account__login--inner">
                                    <label>
                                        <input
                                                class="account__login--input"
                                                placeholder="Username"
                                                type="text"
                                        />
                                    </label>
                                    <label>
                                        <input
                                                class="account__login--input"
                                                placeholder="Email Addres"
                                                type="email"
                                        />
                                    </label>
                                    <label>
                                        <input
                                                class="account__login--input"
                                                placeholder="Password"
                                                type="password"
                                        />
                                    </label>
                                    <label>
                                        <input
                                                class="account__login--input"
                                                placeholder="Confirm Password"
                                                type="password"
                                        />
                                    </label>
                                    <button
                                            class="account__login--btn primary__btn mb-10"
                                            type="submit"
                                    >
                                        Submit & Register
                                    </button>
                                    <div class="account__login--remember position__relative">
                                        <input
                                                class="checkout__checkbox--input"
                                                id="check2"
                                                type="checkbox"
                                        />
                                        <span class="checkout__checkbox--checkmark"></span>
                                        <label
                                                class="checkout__checkbox--label login__remember--label"
                                                for="check2"
                                        >
                                            I have read and agree to the terms & conditions</label
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/shipping :: shipping_body}"></div>
</main>
<div th:replace="~{fragments/buttonScrollTop :: button_scroll_top}"></div>
<div th:replace="~{fragments/footer :: footer_body}"></div>
<!-- Customscript js -->
<script th:src="@{/js/script.js}"></script>
</body>
</html>