<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customerForm.html}">
<head>
<title>THANH TOÁN</title>
</head>

<body>
    <section layout:fragment="body">

        <main class="main__content_wrapper">
    
            <!-- Start breadcrumb section -->
            <section class="breadcrumb__section breadcrumb__bg">
                <div class="container">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="breadcrumb__content text-center">
                                <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                    <li class="breadcrumb__content--menu__items"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb__content--menu__items"><span>Checkout</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End breadcrumb section -->
    
            <!-- Start checkout page area -->
        <div class="checkout__page--area section--padding" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="main checkout__mian">
                            <form th:action="@{/tfive/checkout/finish}" method="post" th:object="${customer}">
                   			<input type="hidden" th:value="${ipVoucherID}" name="voucherID">
                                <div class="checkout__content--step section__contact--information">
                                    <div class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                       
                                        
                                    </div>
                                    <div class="customer__information">
                                        <div class="checkout__email--phone mb-12">
                                            <h2 class="section__header--title h3">Thông tin liên lạc</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__content--step section__shipping--address">
                                    <div class="section__shipping--address__content">
                                        <div class="row">
                                            <div class="col-12 mb-20">
                                                <div class="checkout__input--list">
                                                    <label class="checkout__input--label mb-5" for="phoneNumber">Số điện thoại<span class="checkout__input--label__star">*</span></label>
                                                    <input th:field="*{phoneNumber}" name="phoneNumber" class="checkout__input--field border-radius-5" placeholder="Số điện thoại..." id="phoneNumber" type="text">
                                                </div>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <div class="checkout__input--list">
                                                    <label class="checkout__input--label mb-5" for="fullname">Họ và tên <span class="checkout__input--label__star">*</span></label>
                                                    <input th:field="*{name}" name="name" class="checkout__input--field border-radius-5" placeholder="Họ và tên..." id="fullname" type="text">
                                                </div>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <div class="checkout__input--list">
                                                    <label class="checkout__input--label mb-5" for="address">Địa chỉ<span class="checkout__input--label__star">*</span></label>
                                                    <input th:field="*{address}" name="address" class="checkout__input--field border-radius-5" placeholder="Địa chỉ...." id="address" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-notes mb-20">
                                    <label class="checkout__input--label mb-5" for="restaurant-note">Ghi chú gửi quán</label>
                                   <textarea name="noteForR" class="checkout__notes--textarea__field border-radius-5" id="restaurant-note" placeholder="Ghi chú để quán có thể phục vụ bạn tốt hơn..." spellcheck="false"></textarea>
                                </div>
                                <div class="order-notes mb-20">
                                    <label class="checkout__input--label mb-5" for="driver-note">Ghi chú gửi tài xế</label>
                                   <textarea name="noteForD" class="checkout__notes--textarea__field border-radius-5" id="driver-note" placeholder="" spellcheck="false"></textarea>
                                </div>
                                <div class="checkout__content--step__footer d-flex align-items-center">
                                    <a class="continue__shipping--btn primary__btn border-radius-5" th:href="@{/tfive/}">Tiếp tục mua sắm</a>
                                    <a class="previous__link--content " th:href="@{/tfive/cart}">Giỏ hàng</a>
                                </div>
                                <input type="submit" id="order-submit" style="display: none">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <aside class="checkout__sidebar sidebar border-radius-10">
                            <h2 class="checkout__order--summary__title text-center mb-15">Đơn hàng của bạn</h2>
                            <div class="cart__table checkout__product--table">
                                <table class="cart__table--inner">
                                    <tbody class="cart__table--body">
                                        <tr class="cart__table--body__items" th:each="cart : ${cartItems}">
                                            <td class="cart__table--body__list">
                                                <div class="product__image two  d-flex align-items-center">
                                                    <div class="product__thumbnail border-radius-5">
                                                        <a class="display-block" th:href="@{'/tfive/product/' + ${cart.dish.dishID}}"><img class="display-block border-radius-5" th:src="@{/assets/img/uploads/} + ${cart.dish.img}" alt="cart-product"></a>
                                                        <span class="product__thumbnail--quantity" th:text="${cart.quantity}">1</span>
                                                    </div>
                                                    <div class="product__description">
                                                        <h4 class="product__description--name"><a th:href="@{'/tfive/product/' + ${cart.dish.dishID}}" th:text="${cart.dish.name}">Fluids & Chemicals</a></h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__table--body__list">
                                                <span class="cart__price" th:text="*{#numbers.formatDecimal(cart.totalAmount, 0, 'COMMA', 0, 'POINT')} + 'đ'">£65.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                            <div class="checkout__discount--code">
                                <form th:action="@{/tfive/checkout/findVoucher}"
                                method="post" th:object="${voucher}">
                                <div class="d-flex">
                                    <label>
                                        <input class="checkout__discount--code__input--field border-radius-5" name="voucherID" placeholder="Nhập mã giảm giá"  type="text">
                                    </label>
                                    <button class="checkout__discount--code__btn primary__btn border-radius-5" type="submit">Áp</button>
                                </div>
                                </form>
                                <hr>
                                <div class="show-voucher">
                                    <a class="w-100" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Chọn voucher <i class="fa-solid fa-angle-right"></i>
                                      </a>  
                                </div>
                                  <div class="collapse" id="collapseExample">
                                    <div class="card card-body" th:each="item : ${vouchers}" th:if="${item.isShare}">
                                    	<a th:href="@{'/tfive/checkout/selectVoucher/'+${item.voucherID}}">
                                                <span th:text="${'Mã '+item.voucherID}" th:if="${item.voucherType}" class="bold"  style="color: blue;">Đơn hàng</span>
                                                <span th:text="${'Mã '+item.voucherID}" th:if="${item.voucherType==false}" class="bold" style="color: green;">Vận chuyển</span>
                                                <p class="voucher-description" th:text="${item.description}">Mô tả .............</p>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__total">
                                <table class="checkout__total--table">
                                    <tbody class="checkout__total--body">
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">Tổng tiền </td>
                                            <td th:text="${#numbers.formatDecimal(cartTotalPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'" class="checkout__total--amount text-right">$860.00</td>
                                        </tr>
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">Tiền ship</td>
                                            <td th:text="${#numbers.formatDecimal(shipMoney, 0, 'COMMA', 0, 'POINT')} + 'đ'" class="checkout__total--calculated__text text-right">20.000đ</td>
                                        </tr>
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">Giảm giá</td>
                                            <td class="checkout__total--calculated__text text-right" 
                                            th:text="${reducedPrice!=null ? '-'+#numbers.formatDecimal(reducedPrice, 0, 'COMMA', 0, 'POINT')+'đ' : '0đ'}">$860.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="checkout__total--footer">
                                        <tr class="checkout__total--footer__items">
                                            <td class="checkout__total--footer__title checkout__total--footer__list text-left">Thành tiền </td>
                                            <td th:text="${#numbers.formatDecimal(totalMoney, 0, 'COMMA', 0, 'POINT')} + 'đ'" class="checkout__total--footer__amount checkout__total--footer__list text-right">$860.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment__history mb-30">
                                <h3 class="payment__history--title mb-20">Phương thức thanh toán</h3>
                                <ul class="payment__history--inner d-flex">
                                    <li class="payment__history--list"><button class="payment__history--link primary__btn" type="button">Trực tiếp</button></li>
                                    <li class="payment__history--list"><button class="payment__history--link primary__btn" type="button">Thẻ tín dụng</button></li>
                                </ul>
                            </div>
                            <button class="checkout__now--btn primary__btn" type="button" onclick="document.getElementById('order-submit').click()">Hoàn tất</button>
                        </aside>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End checkout page area -->
    
        </main>
    </section>

</body>
</html>